<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user_style.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container main">
    <div class="card profile-container">
        <div class="row">
            <div class="col-md-3">
                <div th:insert="blocks/user_panel::user_panel"></div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-1">
                        <a class="link-back" href="/user/profile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                 class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                            </svg>
                        </a>
                    </div>
                    <div class="col-md-11">
                        <h3 class="text-center mb-4">Добавить адрес</h3>
                    </div>
                </div>
                <form th:action="@{/user/address/add}" method="post">
                    <div class="form-group">
                        <label for="cityInput">Город</label>
                        <input type="text" name="city" id="cityInput" class="form-control" placeholder="Введите город">
                    </div>
                    <div class="form-group">
                        <label for="streetInput">Улица</label>
                        <input type="text" name="street" id="streetInput" class="form-control" placeholder="Введите улицу">
                    </div>
                    <div class="form-group">
                        <label for="corpsInput">Корпус</label>
                        <input type="text" name="corps" id="corpsInput" class="form-control" placeholder="Введите корпус">
                    </div>
                    <div class="form-group">
                        <label for="houseNumberInput">Номер дома</label>
                        <input type="text" name="houseNumber" id="houseNumberInput" class="form-control" placeholder="Введите номер дома">
                    </div>
                    <div class="form-group">
                        <label for="flatNumberInput">Номер квартиры</label>
                        <input type="text" name="flatNumber" id="flatNumberInput" class="form-control" placeholder="Введите номер квартиры">
                    </div><br>
                    <button type="submit" class="btn btn-success">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer" class="text-body-secondary py-5 bg-dark"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>