<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/product_style.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container main">
    <div class="redirectors">
        <a class="redirector" th:href="@{/product/cat}"><img th:src="@{/image/kit.jpg}" alt=""></a>
        <a class="redirector" th:href="@{/product/dog}"><img th:src="@{/image/zver.jpg}" alt=""></a>
        <a class="redirector" th:href="@{/product/parrot}"><img th:src="@{/image/parot.jpg}" alt=""></a>
        <a class="redirector" th:href="@{/product/rodent}"><img th:src="@{/image/kurva_homik.jpg}" alt=""></a>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                    <span class="fs-5 fw-semibold">Категории</span>
                    <ul class="list-unstyled ps-0 functions">
                        <li class="border-top my-3"></li>
                        <li class="mb-1" th:each="cat:${categories}">
                            <a th:href="@{'/product/'+${type}+'/'+${cat.path}}">
                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#home-collapse" aria-expanded="false" th:text="${cat.name}">
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row col-md-9 row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" th:each="product : ${products}">
                <div class="card shadow-sm">
                    <div class="image-container">
                        <a class="card-image" th:href="@{'/product/'+${product.id}+'/info'}"><img class="bd-placeholder-img card-img-top"
                                                            th:src="@{'/image/'+${product.image}}" alt="Image"></a>
                    </div>
                    <div class="card-body">
                        <h6 th:text="${product.name}"></h6>
                        <span th:text="${product.price}"></span>
                        <span th:text="${product.price + product.discount}" class="badge text-bg-secondary"
                              style="text-decoration: line-through; text-decoration-color: red;"></span>

                    </div>
                    <form th:action="@{'/user/product/'+${product.id}+'/to_cart'}" method="post">
                        <button class="btn btn-success btn-cart" type="submit">В карзину</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer" class="text-body-secondary py-5 bg-dark"></footer>
</body>
</html>