<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Товары</h1>
<div th:each="product : ${products}">
    <p th:text="${product.name}"></p>
    <p th:text="${product.price}"></p>
    <img height="100px" width="100px" th:src="@{'/'+${product.image}+'/get'}" alt="Image">
    <form th:action="@{'/admin/product/'+${product.id}+'/delete'}" method="post">
        <button type="submit">delete</button>
    </form>
</div>
</body>
</html>