<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user_style.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container main">
    <div class="card card-main profile-container">
        <div class="row">
            <div class="col-md-3">
                <div th:insert="blocks/user_panel::user_panel"></div>
            </div>
            <div class="col-md-9">
                <h1>Изменить пароль</h1>
                <form th:action="@{/user/password/edit}" method="post">
                    <div class="form-group">
                        <label for="oldPasswordInput">Старый пароль</label>
                        <input type="text" name="oldPassword" id="oldPasswordInput" class="form-control" placeholder="Введите старый пароль">
                    </div>
                    <div class="form-group">
                        <label for="newPasswordInput">Новый пароль</label>
                        <input type="text" name="newPassword" id="newPasswordInput" class="form-control" placeholder="Введите новый пароль">
                    </div>
                    <div class="form-group">
                        <label for="repeatNewPasswordInput">Повтор нового пароля</label>
                        <input type="text" name="repeatNewPassword" id="repeatNewPasswordInput" class="form-control" placeholder="Повторите новый пароль">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer" class="text-body-secondary py-5 bg-dark"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>