<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/buy_style.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container main">
    <div class="row">
        <div class="col-md-2">
            <h1>Итого</h1>
            <h3 th:text="${sum}"></h3>
        </div>
        <div class="col-md-10">
            <div class="card card-main">
                <h1>Доставка</h1>
                <form th:action="@{/user/buy}" method="post">
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input readonly type="text" id="name" class="form-control" th:value="${user.username}">
                    </div>
                    <div class="form-group">
                        <label for="phone">Телефон</label>
                        <input readonly type="text" id="phone" class="form-control" th:value="${user.phoneNumber}">
                    </div>
                    <label>Адрес</label>
                    <select name="address" class="form-select" aria-label="Выбор адреса">
                        <option th:each="address : ${user.addresses}"
                                th:text="@{${address.city}+' '+${address.street}+' '+${address.corps}+' '+${address.houseNumber}+' '+${address.flatNumber}}"
                                th:value="${address.id}">
                        </option>
                    </select><br>
                    <button type="submit" class="btn btn-success">Заказать</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: footer" class="text-body-secondary py-5 bg-dark"></footer>
</body>
</html>