.profile-container{
    background-color: #f8f9fa;
    color: #333333;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 600px;
    padding:10px;
}
.card .card-address{
    padding:10px;
    display: flex;
    justify-content: space-between;

}
.card-cheque{
    min-height:500px;
}
.bg-primary {
    --bs-bg-opacity: 1;
    background-color:#8d21a6 !important;
}
tr.spaceUnder>td {
    padding-bottom: 1em;
}